


body{
	margin-top:50px;
	margin-left:0px;

	
}


.bandeau{ 
	
	left: 0 ;
	width: 1450px ;
	height: 250px ;
	background-image: url("Images/accueil1.jpg") ;
	opacity: 0.7;
	margin-top: 0;
}


.lien{
	color:black;
	font-weight: bold;

}


#theme{	
	text-align: center;
	font-size: 30px;
	margin-top:50px;
	border-right:1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;

}



.images{
	float:right;
}


