html{
    background-image: url(MontpellierInscription.jpg);
}



#logo{
    width: 20%;
    top:0px;
    margin-left:40%;
}

.menu{ 
    overflow: hidden;
    display: inline-block;
    padding-left: 400px;
    margin-top: 20px;
}


.menu li{
    
    background-color: #f0f0f0;
    border-right: 1px solid ;
    position:relative;
    float: left;
    list-style-type: none;
}



.menu li a{
    color: #5d5d5d;
    display: inline-block;
    font: 20px  Lobster,Arial,sans-serif;
    padding: 12px 35px 14px;
    position: relative;
    text-shadow: 1px 1px 0 ;
    z-index:2;
    text-decoration:none;
    white-space:nowrap;
}


.images{
    float:right;
}


body{
    margin-top:50px;
    margin-left:0px;

    
}

