html{
	background-image: url(MontpellierInscription.jpg);
	font-family: Arial Narrow;
}

h1{
	color: grey;
	text-decoration: underline;
}

p{
	font-size: 15px;
}

#renseignement{
	color: grey;
	text-decoration: underline;
}

h2{
	margin-left: 90%;
}

#connexion{
	border: 2px black solid;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 10px;
	margin-top: 100px;
	background-color: white;
}

#inscription{
	border: 2px black solid;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding: 10px;
	background-color: white;
}