html{
    background-color: #464545;
}

h1{
	color: grey;
	text-decoration: underline;
}

p{
	font-size: 15px;
}

#renseignement{
	color: grey;
	text-decoration: underline;
}
a{color: #EFAA1D}
h2{
	margin-left: 90%;
    color: #EFAA1D;
}

#connexion{
	border: 2px black solid;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 10px;
	margin-top: 100px;
	background-color: white;
}

#inscription{
	border: 2px black solid;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding: 10px;
	background-color: white;
}

#mdp{
	border: 2px black solid;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 10px;
	background-color: white;
}